<% unless @revision.nil? %>
<div class="infobox message">
    <p>You are seeing an old version of the page. Go to <a href="<%= absolute_path(@wikipage) %>">latest version</a></p>
</div>
<% end %>

<% if @wikipage.body.blank? %>
    <p>This page is empty.</p>
<% elsif !@revision.nil? %>
    <div class="content"><%= markdown_to_html(@revision.body) %></div>
<% else %>
    <div class="content"><%= markdown_to_html(@wikipage.body) %></div>
<% end %>