<h2>Sign in</h2>
<input type="hidden" name="facebook-id" data-facebook-id="<%= facebook_id %>">
<fb:login-button scope="public_profile,email" onlogin="checkStateAndLogin();"></fb:login-button>
<div id="status"></div>
<div id="fb-root"></div>