<article>
  <header>
    <h1>
      <!-- Home Posts Changes                 about -->
      <!-- Posts if exists > Subject & caret target -->
      <!-- Find similar titles -->
    </h1>
    <!-- divider -->
    <ul>
      <li><!-- $revision timestamp, rev. $revision_count --></li>
      <li><!-- $author --></li>
    </ul>
      <!-- $text area -->
  </header>
</article>
<section class="body">
  <!-- if redirected from -->
  <!-- if is old revision page -->
</section>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
